body {
background: orange;
	margin: 0;
}

.content {

	display: flex;

	flex-direction: row;
}

.mitten {
	width:40%;
	height:100%;
	background-color: black;
	display:flex;
	flex-direction: row;
}

.vanster {
	width:20%;
	height:100%;
	background-color: orange;
	font-family: remington_reseskrivmaskinRg;
	font-size: 14px;
	display:flex;
	flex-direction: row;
}

.hoger {
	width:40%;
	height:100%;
	background-color: yellow;
	font-family: 'Shadows Into Light', cursive;
	display:flex;
	flex-direction: row;
}
