body {

	margin: 0;
}

.content {

	display: flex;

	flex-direction: row;
}

.vanster,
.hoger {

	display: flex;

	flex-direction: column;

	padding: 10px;
	background-color: black;
}




.vanster {
	flex-basis: 150%;
	background-color: orange;
	font-family: remington_reseskrivmaskinRg;
	font-size: 14px;
}

.hoger {
	flex-basis: 50%;
	background-color: yellow;
	font-family: 'Shadows Into Light', cursive;
}

@media only screen and (max-width: 800px) {
	.content {

		flex-direction: column;
	}
}
